<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/tailwind.css">
    <title>{{title}}</title>
</head>
<body class="text-white bg-gray-900">
<header class="w-full bg-gray-800">
    <nav class="flex justify-end w-11/12">
        <ul class="flex p-4">
            <li class="p-4">
                <a class="font-md hover:font-semibold"href="/">Home</a>
            </li>
             <li class="p-4">
                <a class="font-md hover:font-semibold"href="/blog">blog</a>
            </li>
             <li class="p-4">
                <a class="font-md hover:font-semibold"href="/contact">contact</a>
            </li>
        </ul>
    </nav>
</header>